.videoComponent_root__NavwZ .videoComponent_headlineContainer__cusaF {
    font-family: GT-Haptik-ZS;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 125%;
    letter-spacing: -.01em
}

@media (min-width: 768px) {
    .videoComponent_root__NavwZ .videoComponent_headlineContainer__cusaF {
        font-family: GT-Haptik-ZS;
        font-weight: 700;
        font-style: normal;
        font-size: 3.6rem;
        line-height: 125%;
        letter-spacing: -.01em
    }
}

.videoComponent_root__NavwZ .videoComponent_headlineContainer__cusaF {
    text-align: center;
    color: #323232;
    margin-bottom: 5.2rem
}

@media (min-width: 768px) {
    .videoComponent_root__NavwZ .videoComponent_headlineContainer__cusaF {
        margin-bottom: 5.5rem
    }
}

@media (min-width: 1024px) {
    .videoComponent_root__NavwZ .videoComponent_headlineContainer__cusaF {
        font-size: 5.6rem;
        line-height: 7rem;
        margin-bottom: 8rem
    }
}

.videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT {
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5
}

.videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_bgCloud__en_bH {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_bgGradient__THY79 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(82.95deg, #ad6fdd 7.29%, #2368f5 53.4%, rgba(35, 107, 244, 0) 93.45%)
}

.videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitleContainer___xN53 {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-left: 1.55rem;
    padding-bottom: 2.6rem
}

@media (min-width: 768px) {
    .videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitleContainer___xN53 {
        padding-left: 3rem;
        padding-bottom: 3.2rem
    }
}

@media (min-width: 1024px) {
    .videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitleContainer___xN53 {
        padding-left: 7rem;
        padding-bottom: 6.2rem
    }
}

.videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitle__vqYue {
    position: relative;
    z-index: 3;
    color: #fff;
    max-width: 17.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem
}

@media (min-width: 768px) {
    .videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitle__vqYue {
        max-width: 29.4rem;
        font-size: 2.4rem;
        line-height: 3rem
    }
}

@media (min-width: 1024px) {
    .videoComponent_root__NavwZ .videoComponent_videoOverlay__IyRKT .videoComponent_videoTitle__vqYue {
        max-width: 57rem;
        font-size: 5rem;
        line-height: 6.2rem
    }
}

.videoComponent_root__NavwZ .videoComponent_playBtn__78Jzy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3
}

.videoComponent_root__NavwZ .videoComponent_playBtnIcon__8preG {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: transparent;
    border: .25rem solid #fff;
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    left: calc(50% - 2.5rem);
    top: calc(50% - 2.5rem)
}

@media (min-width: 1024px) {
    .videoComponent_root__NavwZ .videoComponent_playBtnIcon__8preG {
        width: 9.5rem;
        height: 9.5rem;
        left: calc(50% - 5.25rem);
        top: calc(50% - 5.25rem)
    }
}

.videoComponent_root__NavwZ .videoComponent_playBtnIcon__8preG svg {
    width: 1.9rem;
    height: 2.2rem;
    transform: translateX(2px)
}

@media (min-width: 768px) {
    .videoComponent_root__NavwZ .videoComponent_playBtnIcon__8preG svg {
        width: 2.1rem;
        height: 2.5rem
    }
}

@media (min-width: 1024px) {
    .videoComponent_root__NavwZ .videoComponent_playBtnIcon__8preG svg {
        width: 4rem;
        height: 4.6rem;
        transform: translateX(6px)
    }
}

.videoComponent_root__NavwZ .videoComponent_videoPlayer__bByN0 {
    height: 100%;
    width: 100%
}

.videoComponent_root__NavwZ .videoComponent_videoContainer__xBk3d {
    height: calc((100vw - 8rem) * 9 / 16);
    transition: height .3s ease-out
}

.videoComponent_root__NavwZ .videoComponent_videoContainer__xBk3d .videoComponent_videoComponent__x0YOb {
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    will-change: transform
}

.videoComponent_root__NavwZ .videoComponent_videoContainer__xBk3d .videoComponent_videoComponent__x0YOb .videoComponent_videoContainer__xBk3d {
    border-radius: inherit;
    overflow: hidden
}

.videoComponent_root__NavwZ .videoComponent_videoContainer__xBk3d .videoComponent_videoComponent__x0YOb .w-big-play-button {
    display: none !important
}

.videoComponent_root__NavwZ .videoComponent_videoContainer__xBk3d .videoComponent_videoComponent__x0YOb:hover .w-big-play-button > div {
    background-color: red
}

.videoComponent_closeBtn__oywkY {
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    z-index: 30;
    display: flex;
    height: auto;
    width: 2rem;
    align-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: .2rem .3rem;
    transition: all .4s ease
}

.videoComponent_closeBtn__oywkY path {
    transition: all .4s ease
}

.videoComponent_closeBtn__oywkY:hover {
    background-color: #2368f5
}

.videoComponent_closeBtn__oywkY:hover path {
    fill: #fff
}

.videoComponent_portal__yzkyt {
    opacity: 0;
    animation-name: videoComponent_fadeIn__3tIQe;
    animation-duration: .5s;
    animation-delay: .2s;
    animation-fill-mode: forwards
}

@keyframes videoComponent_fadeIn__3tIQe {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*# sourceMappingURL=4b3862f898564acc.css.map*/